/////////////////////////////////////
$white: #fff;
$lightGray: #fafafa;
$dark: #2c2c2c;
$green: #3b671d;


///// spaces
$sp_0: 0;
$sp_sm: 4px;
$sp_md: 8px;
$sp_lg: 16px;
$sp_xl: 32px;

///// shadows
$shadow: 0 4px 8px 4px rgba(0,0,0,0.05);





body {
  margin: $sp_0;
  padding-top: $sp_xl;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $lightGray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


////////////////////////////////
/// Structure

.muiBoxAdjustments{ 
  width: 600px; 
  margin: $sp_0 auto;
  background-color: $white;
  border-radius: $sp_md;
  box-shadow: $shadow;
  padding: $sp_xl;
  box-sizing: border-box;
}





//////////////////////////////////////
/// VALORES COMPARATIVO
.valuesCompare{}
.valuesCompare > div{
  display: inline-block; width: 48%;
  padding: $sp_0 $sp_0 $sp_md;
  text-align: center;
  font-size: 1.4rem;
  color: $green;
}
.valuesCompare > div span{ font-weight: bold;}

.valuesCompare > div#cotationValue{ 
  
  
}

.valueToConvert{
  font-size: 1.3rem;
  color: #ccc;
  text-align: right;
  border:none;
  display: inline;
  width: 100px;
  color: $green;
}